<ion-header [translucent]="true">

  <app-nav-bar titulo="MENU"></app-nav-bar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="block" size="large" routerLink="/ejercicio1">Ejercicio 1 <ion-icon name="document-outline"></ion-icon></ion-button> 
  <ion-button expand="block" size="large" routerLink="/blank">Ejercicio 2  <ion-icon name="document-outline"></ion-icon></ion-button> 
  <ion-item>
    <ion-thumbnail slot="start" >
      <img alt="Horizonte" src="https://i.pinimg.com/originals/22/29/8b/22298bf3c7b6fa6b26254d6ed81b00ca.jpg" />
    </ion-thumbnail>
    <ion-label>Ella era tan delicada e inteligente, yo era tan "hola mundo"</ion-label>
  </ion-item>
</ion-content>
